.cta {
  position: relative;
  padding: 0 25px;
  margin: 0 auto -72px;
  z-index: 10;

  &--mt {
    margin-top: 160px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 72px 95px;
    background: $color-peach;
    border-radius: 15px;

    @include for-tablet {
      flex-direction: column;
      gap: 32px;
      padding: 57px;
    }

    @include for-mobile {
      padding: 64px 24px;
    }
  }

  &__text {
    max-width: 460px;
    color: $color-white;

    @include for-tablet {
      text-align: center;
    }
  }

  &__title {
    max-width: 300px;
    margin-bottom: 24px;

    @include for-tablet {
      margin: 0 auto 24px;
    }
  }
}
