.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 64px 40px;

  @include for-mobile {
    padding: 35px 24px;
  }
}

.hamburger {
  display: none;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 14px;
  transition: all 0.25s;

  &__top,
  &__middle,
  &__bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    transform: rotate(0);
    transition: all 0.5s;
    background: $color-black;
  }

  &__middle {
    top: calc(50% - 1px);
  }

  &__bottom {
    top: calc(100% - 1px);
  }

  @include for-mobile {
    display: block;
  }
}

.open.hamburger {
  transform: rotate(90deg);
}

.open .hamburger__top {
  transform: rotate(45deg) translate(4px, 5px);
}

.open .hamburger__middle {
  display: none;
}

.open .hamburger__bottom {
  transform: rotate(-45deg) translate(4px, -5px);
}

.open + .nav {
  opacity: 1;
  visibility: visible;
}

.logo {
  flex-shrink: 0;

  width: 196px;
  height: 24px;

  img {
    width: 100%;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.nav {
  &--header {
    @include for-mobile {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $color-black;
      z-index: 20;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;

      &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background: $color-black;
        opacity: 0.5;
      }

      .nav__list {
        align-items: flex-start;
        flex-direction: column;
        padding: 48px 24px;
        color: $color-white;
        font-size: 24px;
        line-height: 25px;
      }
    }
  }

  &--footer {
    @include for-mobile {
      width: 100%;
      padding-top: 32px;
      margin-top: 32px;
      border-top: 1px solid rgba($color-white, 0.1);

      .nav__list {
        flex-direction: column;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;

    gap: 42px;

    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }

  &--dark {
    color: $color-dark-grey;
  }

  &--light {
    color: $color-white;
  }
}
