.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 64px 40px;

  @include for-mobile {
    padding: 35px 24px;
  }
}

.logo {
  flex-shrink: 0;

  width: 196px;
  height: 24px;

  img {
    width: 100%;
  }

  &--light {
    width: 202px;
    height: 27px;
  }
}
