.hero {
  &__wrapper {
    position: relative;
    padding: 145px 95px;
    padding-right: 45%;
    background-color: $color-peach;
    border-radius: 15px;
    overflow: hidden;

    @include for-tablet {
      padding: 60px;
      padding-bottom: 470px;
      text-align: center;
    }

    @include for-mobile {
      padding: 80px 24px;
      padding-bottom: 470px;
      border-radius: 0;
    }
  }

  &__info {
    position: relative;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    color: $color-white;
    z-index: 10;
  }

  &__desc {
    max-width: 445px;
    margin: 40px 0;

    @include for-tablet {
      margin: 32px auto;
    }
  }

  &__bg-circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 640px;
    height: 640px;

    img {
      width: 100%;
      height: 100%;
    }

    @include for-tablet {
      top: 125px;
      right: -100px;
    }

    @include for-mobile {
      right: -225px;
    }
  }

  &__image {
    position: absolute;
    bottom: -10px;
    right: 10px;
    width: 439px;

    img {
      width: 100%;
    }

    @include for-tablet {
      bottom: -120px;
      right: calc(50% - 20px);
      transform: translateX(50%);
    }
  }
}

.hero-contact {
  &__wrapper {
    position: relative;
    background-color: $color-peach;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 95px;
    padding: 54px 95px;

    @include for-tablet {
      flex-direction: column;
      gap: 40px;
      padding: 58px;
    }

    @include for-mobile {
      padding: 72px 24px;
      border-radius: 0;
    }
  }

  &__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 640px;
    height: 640px;

    img {
      width: 100%;
      height: 100%;
      transform: rotate(45deg);
    }

    @include for-tablet {
      bottom: 140px;
      left: -125px;
    }

    @include for-mobile {
      bottom: 425px;
      left: -65px;
    }
  }

  &__info {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    color: $color-white;

    @include for-mobile {
      text-align: center;
    }
  }

  &__desc {
    max-width: 445px;
    margin: 40px 0 0;

    @include for-tablet {
      max-width: initial;
      margin: 40px 0 0;
    }

    @include for-mobile {
      margin: 24px 0 0;
    }
  }
}
