.intro {
  padding: 0 25px;
  margin-bottom: 160px;

  @include for-mobile {
    padding: 0;
  }

  &__wrapper {
    position: relative;
    padding: 64px;
    background-color: $color-peach;
    border-radius: 15px;
    overflow: hidden;

    @include for-mobile {
      padding: 105px 24px;
      border-radius: 0;
    }
  }

  &__bg {
    position: absolute;
    top: -70%;
    bottom: 0;
    right: 0;
    width: 876px;
    height: 100%;

    img {
      width: 100%;
    }
  }

  &__content {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    color: $color-white;
  }

  &__title {
    margin-bottom: 14px;
  }
}
