.hero-about {
  &__wrapper {
    position: relative;
    background-color: $color-peach;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 95px;
    padding: 54px 95px;

    @include for-tablet {
      flex-direction: column;
      gap: 40px;
      padding: 58px;
    }

    @include for-mobile {
      padding: 72px 24px;
      border-radius: 0;
    }
  }

  &__info {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    color: $color-white;

    @include for-mobile {
      text-align: center;
    }
  }

  &__desc {
    max-width: 445px;
    margin: 40px 0 0;

    @include for-tablet {
      max-width: initial;
      margin: 40px 0 0;
    }

    @include for-mobile {
      margin: 24px 0 0;
    }
  }
}

.hero {
  &__wrapper {
    position: relative;
    padding: 145px 95px;
    padding-right: 45%;
    background-color: $color-peach;
    border-radius: 15px;
    overflow: hidden;

    @include for-tablet {
      padding: 60px;
      padding-bottom: 470px;
      text-align: center;
    }

    @include for-mobile {
      padding: 80px 24px;
      padding-bottom: 470px;
      border-radius: 0;
    }
  }

  &__info {
    position: relative;
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    color: $color-white;
    z-index: 10;
  }

  &__desc {
    max-width: 445px;
    margin: 40px 0;

    @include for-tablet {
      margin: 40px auto;
    }
  }

  &__bg-circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    img {
      width: 100%;
      // height: 100%;
    }
  }

  &__image {
    position: absolute;
    top: -50px;
    right: -75px;
    width: 624px;

    @include for-tablet {
      top: auto;
      bottom: -360px;
      right: 50%;
      transform: translateX(50%);
    }

    &--about {
      top: 0;
      right: 0;
      bottom: 0;

      width: 43%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
      }
    }
  }
}

.our-designs {
  padding: 160px 25px;

  &__item {
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: $color-dark-grey;
    border-radius: 15px;
    overflow: hidden;

    @include for-tablet {
      min-height: auto;
      height: 200px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      &::before {
        background-color: $color-peach;
        opacity: 0.8;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000;
      opacity: 0.5;
      transition: all 0.3s;
    }
  }
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  @include for-tablet {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.two-rows {
  display: grid;
  gap: 24px;
}

.advantages {
  &__list {
    display: flex;
    align-items: center;
    gap: 30px;

    @include for-tablet {
      flex-direction: column;

      &--location {
        gap: 80px;
      }
    }

    @include for-mobile {
      padding: 0 24px;
    }
  }

  &__item {
    flex: 1 1 0;
    text-align: center;

    @include for-tablet {
      display: flex;
      align-items: center;
      gap: 48px;
      text-align: left;

      &--location {
        flex-direction: column;
        text-align: center;
      }
    }

    @include for-mobile {
      flex-direction: column;
      text-align: center;
    }
  }

  &__picture {
    position: relative;

    width: 202px;
    height: 202px;
    margin: 0 auto 48px;

    img {
      width: 100%;
    }

    @include for-tablet {
      flex-shrink: 0;
      margin: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      opacity: 0.2;
      z-index: -1;
    }

    &--to-right {
      &::before {
        background: linear-gradient(
          to right,
          rgba(93, 2, 2, 0.497569) 0%,
          rgba(93, 2, 2, 0.0001) 100%
        );
      }
    }
    &--to-top {
      &::before {
        background: linear-gradient(
          to top,
          rgba(93, 2, 2, 0.497569) 0%,
          rgba(93, 2, 2, 0.0001) 100%
        );
      }
    }
    &--to-left {
      &::before {
        background: linear-gradient(
          to left,
          rgba(93, 2, 2, 0.497569) 0%,
          rgba(93, 2, 2, 0.0001) 100%
        );
      }
    }
  }

  &__title {
    margin-bottom: 32px;
  }
}

.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

  @include for-tablet {
    grid-template-columns: 1fr;
  }
}

.offices {
  margin: 160px auto;
}

.map {
  width: 100%;
  max-width: 350px;
  min-height: 326px;
  border-radius: 15px;
  overflow: hidden;

  @include for-tablet {
    max-width: initial;
    order: -1;
  }
}

.location {
  &__maps {
    display: grid;
    gap: 32px;

    @include for-tablet {
      gap: 120px;
    }
  }
}

.address {
  display: flex;
  gap: 30px;

  @include for-tablet {
    flex-direction: column;
  }

  &__details {
    flex: 1 1 0;
    padding: 88px 95px;
    background-color: #fdf3f0;
    border-radius: 15px;
    overflow: hidden;

    @include for-tablet {
      flex: auto;
      padding: 88px 74px;
    }
  }

  &__title {
    margin-bottom: 24px;
    color: $color-peach;
  }

  &__details-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @include for-mobile {
      grid-template-columns: 1fr;
    }
  }
}
