// COLORS

$color-peach: #e7816b;
$color-black: #1d1c1e;
$color-white: #ffffff;
$color-light-peach: #ffad9b;
$color-dark-grey: #333136;
$color-light-grey: #f1f3f5;

// FONT-FAMILY

$font-family: Jost, sans-serif;

// MARGIN

$margin-smaller: 8px;
$margin-small: 16px;
$margin-medium: 24px;
$margin-big: 32px;
$margin-large: 40px;
