.button {
  position: relative;
  padding: 18px 25px;

  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;

  border-radius: 8px;

  cursor: pointer;

  transition: background 0.3s, color 0.2s;

  &--light {
    background-color: $color-white;
    color: $color-dark-grey;

    &:hover,
    &:focus {
      background-color: $color-light-peach;
      color: $color-white;
    }
  }

  &--dark {
    background-color: $color-peach;
    color: $color-white;

    &:hover,
    &:focus {
      background-color: $color-light-peach;
    }
  }

  &--submit {
    padding: 18px 48px;
    margin-left: auto;

    @include for-mobile {
      margin: 0 auto;
      margin-top: 24px;
    }
  }
}
