.form {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 380px;

  z-index: 10;

  fieldset {
    padding: 0;
    margin-bottom: 12px;
  }

  input,
  textarea {
    width: 100%;
    padding: 12px 16px;
    border-bottom: 1px solid rgba($color-white, 0.5);
    color: $color-white;
    transition: all 0.3s;

    &::placeholder {
      color: rgba($color-white, 0.5);
    }

    &:focus {
      border-bottom: 1px solid $color-white;
    }
  }

  @include for-tablet {
    max-width: 540px;
    margin: 0 auto;
  }
}
